:root {
    --text-color: #03045e;
  }
  
  .message-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 2px solid #ccc;
    padding: 20px 30px;
    z-index: 1000;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .error {
    display: flex;
    align-items: center;
    color: #d90429;
    background-color: #ffd4cc;
    font-size: 14px;
  }
  
  .success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    font-size: 14px;
    display: flex;
  }
  .head-titel{
    margin: 10px;
  }
  .reset_password_container{
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    width: 100%;
    max-width: 500px;
    height: 400px;
    margin: 150px auto 20px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  p{
    font-size: 14px;
  }
  h1 {
    color: var(--text-color);
    text-align: center;
    font-size: 24px; 
  }
  .input input {
    margin: 20px auto 10px auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 80%; 
    max-width: 100%;
    box-sizing: border-box; 
  }
  .btn button {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  .btn button:hover {
    background-color: #45a049;
  }
  .btn-resend button{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color:var(--text-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  .btn-resend button:hover {
    background-color: #041f6b;
  }