:root {
  --text-color: #03045e;
}
.change-password-container {
  width: 70%;
  margin: 100px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  background: #ffffff;
  color: var(--text-color);
  padding: 12px;
  border-radius: 8px;
  font-size: 22px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  color: var(--text-color);
  font-weight: bold;
  margin: 12px 2px 0px;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

button.save-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.save-btn:hover {
  background-color: #218838;
}
.message-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 2px solid #ccc;
  padding: 20px 30px;
  z-index: 1000;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.error {
  background-color: #fce8e6;
  color: #721c24;
  border: 1px solid #f5c6cb;
  font-size: 14px;
}

.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  font-size: 14px;
}
