@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&display=swap");

.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.logout-button {
  background-color: #d9534f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logout-button:hover {
  background-color: #c9302c;
  transform: scale(1.05);
}

.logout-button i {
  font-size: 18px;
}
