.custom-container {
    margin-top: 100px auto;
    background-color: #e0f7fa;
    /* min-height: 100vh; */
    padding: 2rem;
  }
  
  .custom-heading {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    color: #00796b;
    margin-bottom: 1.5rem;
  }
  
  .custom-filter {
    margin-bottom: 1.5rem;
  }
  
  .custom-dropdown {
    padding: 0.5rem;
    border: 1px solid #00796b;
    border-radius: 0.25rem;
  }
  
  .custom-field-list {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .custom-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
  }
  
  .custom-field-card {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .custom-field-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  
  .custom-field-name {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    color: #00796b;
    margin-top: 1rem;
  }
  
  .custom-owner-info {
    text-align: center;
    color: #616161;
  }
  
  .custom-button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
  }
  
  .custom-button-view,
  .custom-button-edit {
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    width: 48%;
  }
  
  .custom-button-view {
    background-color: #00796b;
    color: white;
  }
  
  .custom-button-view:hover {
    background-color: #004d40;
  }
  
  .custom-button-edit {
    background-color: #616161;
    color: white;
  }
  
  .custom-button-edit:hover {
    background-color: #424242;
  }
  
  .custom-no-fields-message {
    text-align: center;
    color: #d32f2f;
    font-size: 1.25rem;
  }
  