.contianer{
    margin-top: 80px;
}
form {
    display: flex;
    flex-direction: column;
  }
  
.input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color); 
    display: block;
    margin-bottom: 5px;
  }